<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209079318796-6rri3ri4suqbdqchpplm9lnvgiuk4cdh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209079318796-6rri3ri4suqbdqchpplm9lnvgiuk4cdh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>209079318796-2p997f3agefrqfsehtbtgotspdfcesp3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBxi_UHAHqrcbHH4dJIZeqIh2EhqPW5bGk</string>
	<key>GCM_SENDER_ID</key>
	<string>209079318796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dhc.swiftDhc</string>
	<key>PROJECT_ID</key>
	<string>dhclogin</string>
	<key>STORAGE_BUCKET</key>
	<string>dhclogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209079318796:ios:cfcb0d8f08a1baccd33129</string>
</dict>
</plist>